.main {
  background-color: #181c20;
  height: 100vh;
  color: white;
  overflow: scroll;
  display: flex;
  justify-content: center;
}

.innerContent {
  width: 70%;
}

.item {
  background-color: #21262b;
  cursor: pointer;
  padding: 1.5rem;
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 11fr;
}
.rightItems {
  margin-left: 1.5rem;
}

.img {
  border-radius: 100%;
}
.imgFormat {
  margin: auto;
}
